<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <springProfile name="Test">
        <logger name="com.ctf.kafka" level="debug" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>

    <logger name="org.springframework" level="error" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.apache" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="kafka" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>
